.container {
    box-sizing: border-box;
    transition: .3s;
}

.container:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,.070);
}

.buyButton {
    display: none!important;
}

.container>a:after {
    content: "Comprar";
    display: block;
    padding: 10px 0;
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto 20px;
    text-transform: uppercase;
    font-weight: bold;
}