.row--menu-row {
    margin-top: 40px;
}

.row {
    padding: 20px 0;
}

.listTitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.footer {
    background-color: #000; 
    margin-top: 0;
}

.listLink, .textInformation {
    color: #d8d8d8;
}

.textInformation {
    width: 100%;
    padding: 10px 0;
}

.matrixItemSmall {
    border: 0;
    padding: 8px 0px;
}

.accordionIcon svg {
    width: 11px;
    color: #fff;
}

.accordionIcon {
    display: none;
}

.accordionTitle {
    color: #fff;
    font-size: 18px;
    text-transform: none;
    margin: 0 0 10px;
    text-align: center;
    width: 100%;
}

.container {
    background-color: #000;
}

@media screen and (max-width: 40rem) {
    .accordion [class*="collapse"] {
        height: auto!important;
        text-align: center;
    }

    .listContainer {
        text-align: center;
    }

    .textInformation {
        text-align: center;
    }

    .paymentMatrixItem {
        width: 100%;
    }

    .list {
        display: block;
    }

    .listItem {
        display: inline-block;
    }
}