.flexRow--mini-banners > section > div > div[class*="w-100"] {
    margin: 40px 20px ;
}

.flexRow--tarja-banners > section{
    padding: 0;
    margin: 20px auto 0;
}

.flexRow--mini-banners .stretchChildrenWidth, .flexRow--tarja-banners .stretchChildrenWidth {
    padding: 20px;
}
