.container {
    margin-bottom: 100px;
}

.filters [class*="vtex__icon-check"] {
    top: 2px;
    position: relative;
}

.gallery {
    max-width: 100%;
    margin: 0;
    padding: 0 10px;
}

.container--home [class*="switch"] {
    display: none;
} 

.buttonShowMore {
    margin-top: 30px;
}
.buttonShowMore button {
    padding: 10px;
    background: #f1f1f1;
    border: 0;
    color: #000;
}